trigger:
  branches:
    include:
      - main

pool:
  vmImage: windows-latest

variables:
  TENANT_NAME: wb0wj
  TENANT_DOMAIN: wb0wj.onmicrosoft.com
  APP_CATALOG_URL: https://wb0wj.sharepoint.com/sites/appcatalog
  ADMIN_URL: https://wb0wj-admin.sharepoint.com

steps:
- task: NodeTool@0
  displayName: Install Node.js
  inputs:
    versionSpec: '18.x'

- script: npm ci
  displayName: Install npm packages

- script: |
    gulp bundle --ship
    gulp package-solution --ship
  displayName: Build SPFx solution

- powershell: |
    Install-Module PnP.PowerShell -Force -Scope CurrentUser
  displayName: Install PnP.PowerShell

- powershell: |
    Connect-PnPOnline `
      -Url "$(APP_CATALOG_URL)" `
      -TenantAdminUrl "$(ADMIN_URL)" `
      -ClientId "$(CLIENT_ID)" `
      -ClientSecret "$(CLIENT_SECRET)" `
      -Tenant "$(TENANT_DOMAIN)"

    Add-PnPApp `
      -Path "$(Build.SourcesDirectory)/sharepoint/solution/your-solution.sppkg" `
      -Overwrite

    Publish-PnPApp `
      -Identity "your-solution.sppkg"
  displayName: Deploy to SharePoint Tenant App Catalog
